<div ng-controller="CategoriesCtrl">

  <div class="row">
    <div class="col-md-3">
      <label style="margin:10px">Search: </label><br>
      <input style="margin:10px;width:75%" type="textbox" class="form-control" ng-model="select.search" ng-options="name for name in itemNameList" placeholder="Search for seomthing" bs-typeahead><br>
      <label style="margin:10px">Categories: </label><br>
      <select style="margin:10px;width:75%" type="button" class="btn btn-default" ng-model="select.category" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="icon.value as icon.label for icon in icons" bs-select></select><br>
    </div>

    <div class="col-md-9">
      <div ng-repeat="category in categories | filter:select.category">
        <div ng-repeat="item in category.items | filter:select.search ">
          <div item="item"></div>
        </div>
      </div>
    </div>
  </div>

</div>
